<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185512885163-s8suqrpnccp3b70r0rk28un5iu8e475f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185512885163-s8suqrpnccp3b70r0rk28un5iu8e475f</string>
	<key>API_KEY</key>
	<string>AIzaSyANNHsewU8Z4tmSprgFZw9Nn-rwB2fBwqg</string>
	<key>GCM_SENDER_ID</key>
	<string>185512885163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zoa0945.RecommendCreditCard</string>
	<key>PROJECT_ID</key>
	<string>creditcard-list-d93df</string>
	<key>STORAGE_BUCKET</key>
	<string>creditcard-list-d93df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185512885163:ios:978e3db9f281bc3add70ee</string>
</dict>
</plist>